<%- include('../includes/header.ejs')%>

<nav>
  <%- include('../includes/nav.ejs')%>
</nav>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 "></div>
    </div>
  </div>
</main>

<%- include('../includes/footer.ejs')%>
